<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <title>Django Serverless OAuth Client | Example Project</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"
        >Django Serverless OAuth Client | Example Project</a
      >
    </nav>
    <div class="container pt-5">
      <p>Repos</p>
      <ul>
            {{ repo }}
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Description</th>
                </tr>
              </thead>
              <tbody>
                {% for repo in repos %}
                <tr>
                  <th scope="row">{{ repo.full_name }}</th>
                  <td>{{ repo.description }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
      </ul>
    </div>
  </body>
</html>
